<div class="diValores-container">
    <!-- Contenedor con la imagen -->
    <div class="image-container">
      <img src="./assets/images/valores_image.png" alt="Valores" class="center-image" />
    </div>

  <!-- Contenedor con el texto -->
  <div class="text-section">
    <p>
      Personalmente, mi manera de trabajar no dista mucho de cómo yo me relaciono en mi
      día a día con los demás, por lo tanto en la  terapia intento ser <span class="strong">auténtica, honesta y
      congruente</span>  con mis valores como persona. Para mí, el <span class="strong">encuentro</span> durante las sesiones
      no deja de ser un encuentro entre dos personas, en el cual conversamos de  <span class="strong">tú a tú.</span>
      Yo intentaré acompañarte en esto que está sucediendo ahora en tu vida aportando mi
      conocimiento y experiencia en psicología y tú aportarás el conocimiento que tienes
      sobre ti pues,  aunque a veces dudemos, <span class="strong">los que mejor sabemos de nuestra propia
      vida somos nosotros mismos</span>, no los demás.
    </p>
  </div>
</div>
