.footer-container {
    width: 100%;
    background-color: #1B4557; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    text-align: center;
    padding: 1rem 0;
    bottom:0;
    margin: 0;
  }
  
  .main-footer {
    margin: 0;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 100%;
  }

  .developer-signature {
    font-size: 1%; 
    color: #b0c4de; 
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 85%;
  }
  