@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@400;700&display=swap');

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes drawLine {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }

  .sintomatologia-container {
    padding: 2rem;
    font-family: 'Raleway', sans-serif;
    background-color: #D5E4D9;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap; 
  }
  
  .sintoma-div {
    flex: 0 1 calc(33.33% - 2rem); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }

  
  .sintoma-div:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .sintoma-text {
    list-style: disc;
    text-align: justify;
    color: #333333;
    font-size: 1.1rem;
  }
  .sintoma-text h3 {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: #387B5B;
  }

  
  .hr-effect {
    display: none; 
  }
  
  
  .sintoma-text li {
      margin-bottom: 1rem;
      padding-left: 0.5rem;
  }

  .finalPoint {
    text-align: center;
  }

  .divFrase {
    display: flex;
    flex-direction:row;
    text-align: justify;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
  }
  

  
  @media (max-width: 768px) {

    .sintomatologia-container {
      flex-direction: column; /* Coloca los bloques en columna en pantallas pequeñas */
    }

    .sintoma-div {
          flex-direction: column; /* Disposición vertical en pantallas pequeñas */
          align-items: center;
          flex: 1 1 100%;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          font-family: 'Raleway', sans-serif;

      }
  
      .sintoma-text {
          text-align: center;
          padding: 0;
          list-style: none;
      }
  
      .sintoma-image {
          max-width: 150px;
          margin-bottom: 3%;
      }
    
      .hr-effect {
          display: none; 
      }

      .sintoma-div:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
  }
  