<div class="sintomatologia-container">
    <!-- Sintomatología 1 -->
    <div class="sintoma-div">
      <img src="./assets/images/faltaSentido.png" alt="Falta de sentido" class="sintoma-image" />
      <ul class="sintoma-text">
        <h3>Falta de sentido</h3>
        <hr>
        <li>Sensación de vacío</li>
        <li>Sensación de actuar en automático</li>
        <li>No estoy mal pero tampoco estoy bien</li>
        <li>No sé hacia dónde voy</li>
        <li>Sensación de indiferencia</li>
        <li>Debería tener nuevos objetivos</li>
        <li>Culpabilidad: ¿por qué si lo tengo todo estoy así, qué me pasa?</li>
        <p class="finalPoint">(...)</p>
      </ul>
    </div>
    <hr class="hr-effect" />
    <!-- Sintomatología 2 -->
    <div class="sintoma-div">
      <img src="./assets/images/ANSIOSA.png" alt="Ansiosa" class="sintoma-image"/>
      <ul class="sintoma-text">
        <h3>Ansiedad</h3>
        <hr>
        <li>Mi cabeza va a mil por hora, repitiendo situaciones en ella</li>
        <li>Análisis de todo o nada</li>
        <li>No puedo parar, hago mil cosas, pero cada vez me siento más ahogada</li>
        <li>Trato de entretenerme constantemente</li>
        <li>Tengo un pellizco en el estómago, aire no me entra, presión en el pecho</li>
        <li>Me siento bloqueada</li>
        <p class="finalPoint">(...)</p>
      </ul>
    </div>
    <hr class="hr-effect" />
  
    <!-- Sintomatología 3 -->
    <div class="sintoma-div">
      <img src="./assets/images/DEPRESIVA.png" alt="Depresiva" class="sintoma-image"/>
      <ul class="sintoma-text">
        <h3>Depresión</h3>
        <hr>
        <li>Cuánto pesa esto, no puedo más con este malestar</li>
        <li>Sensación de desesperanza</li>
        <li>Estado de perpetua tristeza</li>
        <li>Y si hubiera...</li>
        <li>Culpabilidad: no sé salir de aquí</li>
        <li>Sentimiento de fracaso</li>
        <li>Sensación de estar rota/o por dentro</li>
        <p class="finalPoint">(...)</p>
      </ul>
    </div>
   <!-- Div Frase Final -->
   <div class="divFrase">
   <p>Aunque aquí aparezcan distribuida en distintos espacios, lo más común es que presentes varios síntomas o más de uno que
    de otros. No son excluyentes y pueden estar presentes en nosotras varios de ellos al mismo tiempo. </p>
  </div>
  </div>
  