<div class="formacion-experiencia-container">
    <!-- Sección de Formación -->
    <section class="formacion-section">
      <div class="icon-container">
        <img src="./assets/images/formacionImg.png" alt="Icono formación" class="icon" />
      </div>
      <h2 class="section-title">Formación</h2>
      <p class="about-text">
        Estudié el <span class="strong-text">Grado de Psicología en la Universidad Complutense de Madrid</span>, el cual terminé en el verano del 2015.
        Poco después entendí que, con la carrera, se me habían quedado cortos ciertos modelos de terapia que me interesaban más que lo establecido como convencional en aquel momento, así que decidí formarme de la mano de un gran profesional - y compañero en la actualidad - en <span class="strong-text">Terapias Humanistas</span>.<br><br>
        Fue entonces cuando me di cuenta de mi profundo interés y curiosidad acerca de cómo el ser humano enfrenta sus problemas, y de que ahí encajaba mejor mi forma de ser con lo que yo entendía como terapia. Además, cuento con la acreditación de <span class="strong-text">Psicóloga Sanitaria por la Universidad Internacional de la Rioja (2019)</span>.<br><br>
        He seguido formándome hasta la actualidad en aspectos relacionados con la psicología e incluso en modelos totalmente novedosos, como la <span class="strong-text">Terapia Breve Estratégica (2025)</span>, siempre motivada desde mi inquietud por conocer y acercarme a distintas maneras que puedan ser útiles a la hora de abordar lo que las personas que acuden a terapia plantean.
      </p>
    </section>
    <hr>
    <!-- Sección de Experiencia -->
    <section class="experiencia-section">
      <div class="icon-container">
        <img src="./assets/images/apoyoImg.png" alt="Icono experiencia" class="icon" />
      </div>
      <h2 class="section-title">Experiencia</h2>
      <p class="about-text">
        El <span class="strong-text">grueso de mi experiencia</span> dentro de la psicología ha sido como <span class="strong-text">psicóloga sanitaria</span> de personas adultas que acudían a terapia por motivos relacionados con ansiedad, depresión o la sensación de no estar bien, pero que se sentían confusas y culpables de no entender muy bien el porqué, sin tener aparentes motivos para ello.
        Además, he coqueteado con otras ramas de la psicología, Recursos Humanos y la Terapia Asistida con Animales.<br><br>
        <span class="strong-text">Desde 2023</span> trabajo como <span class="strong-text">psicóloga por cuenta propia</span> en remoto. Aunque no me cierro a la idea de volver a la modalidad presencial, he de confesar que me gusta bastante más, aunque ahora no sea compatible con mi decisión acerca de cómo vivir. <br><br>
        Anteriormente trabajé en <span class="strong-text">Granada</span>, en el centro de <span class="strong-text">Psiquiatría y Psicología Dr. Muro (2021 - 2023)</span>, donde realmente creé mi personalidad como terapeuta y pude contar con el apoyo de grandísimos profesionales para impulsarme profesionalmente.
      </p>
    </section>
  </div>
  