<div class="formacion-experiencia-container">
    <!-- Sección de Formación -->
    <section class="formacion-section">
      <div class="icon-container">
        <img src="./assets/images/formacionImg.png" alt="Icono formación" class="icon" />
      </div>
      <h2 class="section-title">Formación</h2>
      <ul class="list">
        <li>Grado de Psicología en la Universidad Complutense de Madrid (2011 - 2015)</li>
        <li>Título propio en Terapia Asistida con Animales Universidad Autónoma de Madrid (2015 - 2016)</li>
        <li><strong>Formación en Terapias Humanistas de Tercera Generación en Aprende Viendo Terapia (2015 - 2016)</strong></li>
        <li>Posgrado en Habilidades Terapéuticas en Aprende Viendo Terapia (2016 - 2017)</li>
        <li><strong>Máster Psicología General Sanitaria a través de la UNIR (2017 - 2019)</strong></li>
        <li>Máster en Gestión y Dirección de Personas en la UEMC (2019 - 2020)</li>
        <li><strong>Especialista en Terapia Breve (Escuela Palo Bajo, 2025)</strong></li>
      </ul>
    </section>
    <hr>
    <!-- Sección de Experiencia -->
    <section class="experiencia-section">
      <div class="icon-container">
        <img src="./assets/images/apoyoImg.png" alt="Icono experiencia" class="icon" />
      </div>
      <h2 class="section-title">Experiencia</h2>
      <ul class="list">
        <li>Intervención Asistida con Animales en colectivo con discapacidad intelectual y autismo (2016)</li>
        <li>Voluntaria en intervención terapéutica con perros con dificultades en ANAA</li>
        <li><strong>Psicóloga Sanitaria en Cognitiva Unidad de Memoria, intervención con personas adultas con deterioro cognitivo (2018 - 2019)</strong></li>
        <li>Selección de personal en Randstad (Madrid, 2019 - 2020)</li>
        <li>Programa de voluntariado en Alemania en distintos santuarios de animales (2020 - 2021)</li>
        <li><strong>Psicóloga Sanitaria en Gabinete de Psiquiatría y Psicología Dr. Muro (Granada, 2021 - 2023)</strong></li>
        <li><strong>Psicóloga Sanitaria por cuenta propia (autónoma) con personas adultas desde 2023 hasta la actualidad.</strong></li>
      </ul>
    </section>
  </div>
  