<div class="gestion-emocional-container">
    <div class="content">
      <p>
        <strong>IDENTIFICAR Y ATENDER LAS EMOCIONES</strong> que están más presentes en tu día a día y que a veces se ven
        <strong>bloqueadas</strong>, debido a experiencias que han influenciado en mi manera de relacionarme con ellas, construyendo un
        <strong>mecanismo</strong> que nos protege de aquello que alguna vez fue doloroso para nosotras, a través del cual tomamos distancia con aquello que me hizo o puede volver a hacerme daño.
      </p>
  
      <p>
        Aunque este mecanismo, que me defiende, haya sido útil en algún momento de nuestra vida o en varios, y por eso se repite, en la actualidad
        <strong>más que ayudarme se convierte en algo que pesa y que me aleja de aquello que yo quiero para mí</strong>, es decir, de
        <strong>TOMAR DECISIONES</strong> en mi vida.
      </p>
  
      <p>
        Por ello es interesante ir explorando estas <button (click)="irASintomatologia()" class="highlighted-link">SENSACIONES</button>, que aunque no son agradables, y <strong>rompen nuestro ideal de ser feliz y
        estar “chachi de bien” constantemente</strong>, nos están intentando transmitir información acerca de cómo estamos y de lo que necesitamos con esto que está ocurriendo ahora.
      </p>
  
      <p>
        Parece fácil, ¿no? Si a día de hoy me da más quebraderos de cabeza que soluciones <strong>¿para qué narices sigue ahí? </strong> Y este es
        el punto clave: <strong>PARA QUÉ</strong> me está sirviendo.
      </p>
  
      <p>
        Si entiendo la <strong>FUNCIÓN</strong> que este mecanismo tiene para mí, puedo entonces ver qué es aquello de lo que intento
        protegerme, y decidir si ahora sigo necesitándolo o si puedo cambiar la manera de atenderme en aquello que me da miedo desde una postura distinta, quizá más congruente con la persona que soy en la actualidad.
      </p>
    </div>
  </div>
  