<div class="ayuda-container">
  <!-- Imagen -->
  <div class="image-section">
    <img src="../../../assets/images/ayudaImgDef.jpg" alt="Ayuda" class="ayuda-image" />
  </div>

  <!-- Texto -->
  <div class="text-section">
    <p>¿Cómo te sientes al ver esta imagen, te resulta familiar?</p>
    <p>
      ¿Esta forma de sentirte ha estado bastante presente últimamente, a pesar de toda la
      buena intención y voluntad que has puesto para tratar de deshacerte de ella?
    </p>
    <p>
      Aquí es <strong>PRINCIPALMENTE</strong> donde se centra 
      <a href="ayuda/gestionEmocional" class="highlighted-link">LA TERAPIA</a>
    </p>
  </div>
</div>
