<div class="home-container">
  <div class="content-wrapper">
    <!-- Información -->
    <div class="intro-section">
      <h1 class="main-title">Psicóloga Sanitaria</h1>
      <h2 class="subtitle">Silvia Hernández Torres </h2>
      <p class="collegiate-info">(Colegiada en Madrid, M-31621)</p>
      <blockquote class="quote">
        “Qué bien se está cuando se está bien. Quizá no es tan malo sentirse mal a veces, pero lo que es demoledor es aparentar que 
        estoy bien cuando no me estoy sintiendo así.”
      </blockquote>
      <div class="button-group">
        <button class="rounded-button" routerLink="/vision">Visión</button>
        <button class="rounded-button" routerLink="/ayuda">¿Cómo puedo ayudarte?</button>
        <button class="rounded-button" routerLink="/contacto">Pide cita</button>
      </div>
    </div>

    <!-- Imagen -->
    <div class="image-section">
      <img src="../../../assets/images/ProfilePhotoDoctoralia.jpeg" alt="Imagen inicio" class="imagen-perfil" />
  </div>
</div>
</div>

<!-- BR animado -->
<div #animatedBr class="br-animated"></div>


<div class="second-block">
  <!-- Segundo Content Wrapper con frases del perfil de Doctoralia -->
  <div class="second-content-wrapper">
    <p class="positive-phrases">Lo que otros pacientes han opinado sobre la terapia</p>
    <p class="quote2">"Desde hace un tiempo, me está ayudando mucho a superar mis adversidades. Le agradezco mucho la gran profesional que es." <br><p class="OpinionName">Inmaculada</p></p>
    <p class="quote2">"Excelente profesional que busca de verdad el origen de tus problemas y te guía para descubrir herramientas para enfrentarte a los mismos." <br><p class="OpinionName">David</p> </p>
    <p class="quote2">"¡Qué bueno encontrarla! Acudí a ella sin algo específico que tratar y fueron saliendo cosas que no tenía resueltas y que ni lo sabía." <br><p class="OpinionName">Nuria</p></p>
    <p class="quote2">"La ayuda de Silvia marcó un antes y un después a la hora de gestionar mis problemas de ansiedad. Arrancó la raíz de cuajo y enfoco la vida de otra manera." <br><p class="OpinionName">Paloma</p></p>
    <button class="rounded-button">
      <a style="text-decoration: none; font-family: 'Raleway', sans-serif; color: white;" href="https://www.doctoralia.es/silvia-hernandez-torres-2/psicologo/madrid">Saber más</a>
    </button>
</div>
</div>


<!-- BR animado -->
<div #animatedBr2 class="br-animated2"></div>


<div class="third-block">
  <div class="third-content-wrapper">
    <p>
      El funambulista, para poder mantener el equilibrio sobre la cuerda mueve su peso de lado a lado, lo que le permite seguir caminando cuidadosamente hacia delante. 
      Con nuestro mundo interno pasa algo parecido, para poder alcanzar ese equilibrio y esta sensación de satisfacción con nosotras/os mismas/os, es necesario moverse 
      de lado a lado, inclinándose en cada momento hacia la dirección que corresponde. Es decir, no basta con NO querer inclinarse hacia aquellas sensaciones, 
      pensamientos o emociones que me generan desagrado, sino que es necesario oscilar entre sentirme "mal" y sentirme "bien", 
      como de manera coloquial nos solemos referir a este tipo de sensaciones, para poder encontrar ese punto de estabilidad que me permita avanzar hacia lo que tiene sentido para mí en este momento.
    </p>
  </div>
</div>

