<div class="pedir-cita-container">
    <h1>Cómo contactar</h1>
    <div class="steps-container">
        <!-- Paso 1 -->
        <div class="step step-1">
            <div class="content-box">
                <p class="step-title">Paso 1:</p>
                <p>Ponte en contacto conmigo a través de: 
                <div class="contact-info">
                    <ul>
                        <div class="contactDiv">
                            <img src="./assets/images/email-icon.png" alt="Email" style="width: 5%; height: 4%;" />
                            <p>Email: <a href="mailto:psicosilviaht&#64;gmail.com">psicosilviaht&#64;gmail.com</a></p>
                        </div>
                       
                        <div class="contactDiv">
                            <img src="./assets/images/whatsapp-icon.png" alt="Email" style="width: 4%; height: 3%;"/>
                            <p>Whatsapp: <a href="https://wa.me/34613413483"> 613 413 483</a></p>
                        </div>

                        <div class="contactDiv">
                            <img src="./assets/images/doctoralia-mktpl-symbol-turquoise.png" alt="Email" style="width: 4%; height: 3%;"/>
                            <a href="https://www.doctoralia.es/silvia-hernandez-torres-2/psicologo/madrid">Perfil Doctoralia</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Paso 2 -->
        <div class="step step-2">
            <div class="content-box">
                <p class="step-title">Paso 2:</p>
                <p>Agendamos una <span class="strong">llamada gratuita de 10-15 minutos</span> para conocer tu situación y si yo soy la persona adecuada para tu caso.</p>
            </div>
        </div>

        <!-- Paso 3 -->
        <div class="step step-3">
            <div class="content-box">
                <p class="step-title">Paso 3:</p>
                <p>Si decidimos continuar y empezar la terapia, después de esta llamada se agendará la <span class="strong">primera sesión</span>, la cual tendrá lugar a través de la plataforma <span class="strong">Google Meet</span>.</p>
                <ul>
                    <li>Duración: 1 hora (Aproximadamente).</li>
                    <li>Precio: 40€ por <span class="strong">sesión online.</span> Presencial a consultar.</li>
                    <li>Métodos de pago: Bizum o transferencia bancaria.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
