@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/saga-green/theme.css";

$primary-color: #387B5B;
$secondary-color: #D5E4D9;
$dark-color: #1B4557;

body {
  font-family: 'Arial', sans-serif;
  background-color: $secondary-color;
  color: $dark-color;
}

