<div class="vision-container">
  <!-- Sección del texto -->
  <div class="text-section">
    <h1 class="vision-title">Mi Visión</h1>
    <hr>
    <p class="vision-text">
      Siempre ha aparecido esta pregunta dentro de mí, debido a mi propia experiencia a
      nivel personal y terapéutica, <span class="strong">¿Qué es lo que nos ocurre que parece que nunca somos
      suficiente?</span>    
    </p>
    <p class="vision-text">
      Racionalmente, desde la lógica aplastante, no paramos de repetirnos lo que tenemos
      que hacer para sentirnos mejor, pero aquí viene mi incógnita <span class="strong">¿realmente sabemos lo
      que necesitamos para sentirnos mejor?</span>  o ¿tratamos convencernos de que lo
      sabemos, sin llegar a ese bienestar con el que tanto fantaseamos? <span class="strong">¿Estamos
      decidiendo desde lo que queremos para nosotras o desde lo que consideramos
      aceptable  y lo que nos garantiza ser alguien que merece la pena?</span> 
    </p>
    <p class="vision-text">
      Parece que por más que nos repetimos como debemos sentirnos, actuar y pensar para
      alcanzar esa idea de éxito personal,  ; <span class="strong">hay algo que  pasa dentro de nosotros que
      interfiere en esta idea</span> sensaciones que normalmente describimos como
      desagradables o que no nos gustan.
    </p>
    <p class="vision-text">
      Te planteo lo siguiente: <span class="strong">¿alguna vez te has parado a escucharlas?
      ¿O sientes que te has empeñado en seguir haciendo más de lo mismo para ver así de una maldita vez
      esta solución funciona? </span> Lo que acaba en un sentimiento de frustración, angustia y
      cansancio que conduce a un final como este: <span class="strong">¿Será entonces que el problema soy yo,
      que ni soy capaz de buscar una solución a esto?</span> 
    </p>
  </div>
   
  <!-- Imagen -->
  <div class="image-section">
    <img src="../../../assets/images/miVision.png" alt="Mi visión" class="vision-image" />
    <!-- Enlace final -->
   <div class="linkDiv">
    <a routerLink="/vision/valores" class="values-link">Descubre más sobre los valores que guían mi terapia</a>
  </div>
  </div>
</div>


 
